.SearchContainer {
  width: 410px;
  height: 170px;
  margin: 30px 30px;
  padding: 30px;
  border-radius: 4px;
  box-shadow: 0 1px 2px 0 var(--warm-grey-75);
  border: solid 1px var(--gainsboro);
  background-color: #fff;
}

.What-are-you-searching-for {
  margin: 0 145px 20px 0;
  color: #383838;
}

.input-group {
  margin-bottom: 15px;
  display: flex;
  width: 50%;
  justify-content: space-between;
}
input[type='radio'] {
  margin: 0;
}
input[type='radio']:after {
  width: 20px;
  height: 20px;
  border-radius: 15px;
  position: relative;
  content: '';
  display: block;
  border: 2px solid #c4c4c4;
  background-color: white;
  top: -5px;
}
input[type='radio']:checked:after {
  width: 20px;
  height: 20px;
  border-radius: 15px;
  position: relative;
  background-color: #0094ff;
  content: '';
  display: block;
  border: 2px solid #c4c4c4;
}
label {
  margin-top: 5px;
  margin-bottom: 5px;
  padding-left: 20px;
  padding-right: 10px;
}

div.input {
  display: flex;
  height: 34px;
  width: 100%;
}
input[type='text'] {
  width: 100%;
  border-radius: 5px;
  padding: 10px;
}

.autocomplete-container {
  position: absolute;
  background-color: white;
  width: 407px;
  border: 1px solid #c4c4c4;
}
.autocomplete-option {
  cursor: pointer;
}

div.hide {
  display: none;
}

.button-container {
  margin-top: 20px;
}




.results-container {
  width: 470px;
  height: 90%;
  min-height: 500px;
  margin: 30px 0 0 30px;
  padding: 30px 30px;
  border-radius: 4px;
  box-shadow: 0 1px 2px 0 var(--warm-grey-75);
  border: solid 1px var(--gainsboro);
  background-color: #fff;
  display: flex;
  flex-direction: column;
}

.Results {
  margin: 0 20px 10px 0;
  color: #000;
}

div.result-item {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.result-title {
  margin-top: auto;
  margin-bottom: auto;
}
div.button-item {
  padding-bottom: 5px;
}

div.empty-results {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.There-are-zero-matches-Use-the-form-to-search-for {
  width: 80%;
  color: var(--pinkish-grey);
  text-align: center;
}