* {
  font-size: 18px;
  font-weight: bold;
  font-family: Montserrat-bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  --warm-grey-75: #848484bf;
  --gainsboro: #dadada;
}

header {
  display: flex;
  height: 40px;
  justify-content: center;
  align-items: center;
  border: 1px solid #dadada;
}

.SWStarter {
  width: 98px;
  font-size: 18px;
  color: var(--green-teal);
}

button {
  background-color: #0ab463;
  border: 1px solid #0ab463;
  color: white;
  border-radius: 25px;
  height: 34px;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}

button:disabled {
  background-color: #c4c4c4;
  border: 1px solid #c4c4c4;
}

hr {
  margin: 0.1px;
  color: #ededed;
}

.main {
  background-color: #ededed;
  display: flex;
  flex-direction: row;
  justify-content: center;
  min-height: 650px;
}