div.entity-container {
  display: flex;
  flex-direction: column;
  width: 60vw;
  height: 500px;
  margin: 30px 30px;
  padding: 30px;
  border-radius: 4px;
  box-shadow: 0 1px 2px 0 var(--warm-grey-75);
  border: solid 1px var(--gainsboro);
  background-color: #fff;
}

div.entity-info {
  display: flex;
  justify-content: space-between;
  height: 100%;
}

div.column {
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

a, p {
  font-size: 14px;
  font-weight: normal;
  margin: 0;
  text-decoration: none;
}

p {
  margin-bottom: 15px;
}

a:hover {
  text-decoration: underline;
}

hr {
  margin-bottom: 10px;
}

div.opening-crawl {
  width: 55%;
}
